.s-nw_all-dyn-item.extended {
    grid-column: span 2;
}

.s-nw_all-dyn-item.extended .c-nw_card {
    flex-direction: column;
}

.s-nw_all-dyn-item.extended .c-nw_card .c-nw_image {
    flex-grow: 1;
    padding: 0.75rem;
}

.s-nw_all-dyn-item.extended .c-nw_card .c-nw_image .c-nw_thumbnail {
    border-radius: var(--radius--radius-sm);
    overflow: clip;
    aspect-ratio: 1 / 1;
}

.s-nw_all-dyn-item.extended .c-nw_card .c-nw_text {
    flex-grow: 1;
    padding: 1.5rem;
}
