.swiper-prev.is-disabled,
.swiper-next.is-disabled {
    opacity: 20% !important;
    cursor: not-allowed;
}

/* Ensure drag handle starts from left */
.swiper-drag-wrapper {
    position: relative;
}

.swiper-drag {
    position: absolute;
    left: 0; /* Initial position at left */
}

.d-jl2_toc {
    scrollbar-width: auto;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.d-jl2_toc::-webkit-scrollbar {
    width: 8px;
}

.d-jl2_toc::-webkit-scrollbar-track {
    background: transparent;
}

.d-jl2_toc::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.c-cookie_c-prefs_content {
    scrollbar-width: auto;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.c-cookie_c-prefs_content::-webkit-scrollbar {
    width: 8px;
}

.c-cookie_c-prefs_content::-webkit-scrollbar-track {
    background: transparent;
}

.c-cookie_c-prefs_content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.d-pr5_right {
    scrollbar-width: auto;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.d-pr5_right::-webkit-scrollbar {
    width: 8px;
}

.d-pr5_right::-webkit-scrollbar-track {
    background: transparent;
}

.d-pr5_right::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.d-pr5_right {
    position: relative;
    overflow: auto;
}

.d-pr5_right::-webkit-scrollbar {
    position: absolute;
    width: 8px;
    height: 8px;
}

.d-pr5_right::-webkit-scrollbar-track {
    background: transparent;
}

.d-pr5_right::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.d-pr5_right::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Firefox support */
.d-pr5_right {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}
