/* Sitewide Styles */

/* Reduce font size for mobile overlay*/
h4 {
    line-height: 1.1em !important;
}

/* Reduce H1 size on mobile */
@media (max-width: 992px) {
    h1 {
        font-size: 3.5rem !important;
    }
    h2 {
        font-size: 3rem !important;
    }
}

/* Remove underline for footer links*/
a {
    text-decoration: none !important;
}

/* Newsletter Styles */

/* Adjust height for newsletter input field*/
.sqs-block-newsletter .newsletter-form-field-element {
    height: 100%;
    max-height: 44px;
}

/* Adjust height for newsletter submit button*/
button.newsletter-form-button.sqs-system-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    max-height: 44px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

/* Header Styles */

.header-nav a {
    text-decoration: none !important;
    background-image: none !important;
    border: none !important;
}

.header-nav-item {
    opacity: 0.6 !important;
    //color: #66000000 !important;
}

.header-nav-folder-item {
    opacity: 0.4 !important;
}

.header-nav-folder-title {
    opacity: 0.6 !important;
}

.header-nav-folder-item:hover {
    opacity: 1 !important;
}

.header-nav-folder-item.header-nav-folder-item--active {
    opacity: 1 !important;
}

.header-nav-item:hover {
    opacity: 1 !important;
    //color: #66000000 !important;
}

.header-nav-item--active {
    opacity: 1 !important;
}

.header-nav-folder-item--active {
    opacity: 1 !important;
}

.header-nav-folder-item-content {
    text-decoration: none !important;
    background-image: none !important;
    border: none !important;
}

.header-nav-folder-content {
    background-color: #f0f2e9 !important;
}

.header-nav-folder-item-content {
    color: #000000 !important;
}

/* Remove bottom positioning for navbar button*/
.header-menu-nav-folder-content {
    flex-grow: 0 !important;
}

/* Align navbar links to center*/
.header-menu-nav-folder {
    justify-content: center !important;
}

/* Even spacing for navbar links*/
.header-menu-nav-item {
    padding-bottom: 0.4em !important;
    padding-top: 0.2em !important;
}

/* Swap out header icon for mobile navbar*/
@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    [elementtiming="nbf-header-logo-desktop"] {
        content: url("https://images.squarespace-cdn.com/content/66111dfd5f6b503ec316f635/ba56b686-3f36-4078-a843-c2c9d82768ba/Navigation+Mobile.png?content-type=image%2Fpng");
    }
}

/* "Override hover for navigation button"
.sqs-button-element--tertiary:hover{
background:rgba(255, 0, 0, 0) !important;
color: white !important;
text-decoration: underline white 2px !important;
}
.header-nav-item:hover{
text-decoration: underline white 2px !important;
}*/

/* Style Navbar Dropdown */

/* Add vertical offset for dropdown */
.header-nav .header-nav-item--folder .header-nav-folder-content {
    //top: 200% !important;
    left: 0px !important;
}

.header-nav-folder-content {
    min-height: 80px !important;
    justify-content: center !important;
    flex-direction: column !important;
    grid-column-gap: 12px !important;
    grid-row-gap: 12px !important;
    margin-top: -10% !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
    text-decoration: none !important;
}

.header-nav-item.header-nav-item--folder:hover .header-nav-folder-content {
    display: flex !important;
}

.header-nav-folder-title {
    display: flex !important;
    justify-content: start !important;
    flex-direction: column !important;
    // min-height: 32px;
}

.header-actions a:hover {
    text-decoration: none !important;
}

.header-nav-folder-item-content:hover {
    text-decoration: none !important;
}

.body:not(.header--menu-open) .header-nav-item--active > a {
    background-size: 0px 0px !important;
}
.header-nav-folder-item .header-nav-folder-item--active {
    text-decoration: none !important;
}

/* Reduce font size for mobile drawer*/
.header-menu-nav-item a {
    font-size: 0.8em;
}
